<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LuckTestButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04C8649C1D373E8500D27F07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C864B51D373E8500D27F07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C864C01D373E8500D27F07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
